{% extends "base.html.twig" %}

{% block body %}
    <h1>Edit Promotion #{{ entity.id }} for item #<a href="{{ path('app_product_view', {id: entity.product.id}) }}">{{ entity.product.id }}</a></h1>
    {{ form(form) }}

{% endblock %}