{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="mt-3 mb-4">Products</h1>
        <div class="row">
            {% for item in items %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="{{ item.sku }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.sku }}</h5>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('app_item_detail', {id: item.id}) }}" class="btn btn-dark">View details</a>
                                <span class="h5 mt-auto">{{ item.price }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

